/* .sectionTitle {
  font-size: xx-large;
  font-weight: bold;
} */

.statSection {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.statLabel {
  margin: 0;
  margin-right: 10px;
}

.statValue {
  font-weight: bold;
  margin: 0;
}
